<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.busrasonmez.kitapgunlugu">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KitapGunlugu">
        <activity android:name=".YillikHedef"></activity>
        <activity android:name=".AylikHedef" />
        <activity android:name=".Hedef" />
        <activity android:name=".EpostaSifreDegistirme" />
        <activity android:name=".OkunacakKitaplar" />
        <activity android:name=".OkunanKitaplar" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".KitapOzellikleriActivity" />
        <activity android:name=".KitapEkleActivity" />
        <activity android:name=".KutuphaneActivity" />
        <activity android:name=".Anasayfa" />
        <activity android:name=".KullaniciKayit" />
        <activity android:name=".KullaniciGirisi" />
        <activity android:name=".UygulamaAcilisi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>